<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.jpeg" type="image/jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mali&amp;display=swap">
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    

    <div class="container">
        <div class="col-12"></div>
        <div class="row">
            <div class="col-12 h5 mt-5 pb-3 d-flex">
                <div class="col-6">มังงะทั้งหมด</div>
                <div class="input-group ms-auto" style="max-width:240px">
                    <input type="search" id="search-engine" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" onclick="searchEngine('search-engine')" type="button">Search</button>
                    </div>
                  </div>
            </div>
            
        <% if ( manga.length > 0 ) { %>
            <% for ( let i=0; i<manga.length; i++ ) { %>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 px-4 px-sm-3 px-md-2 position-relative">
                    <a class="card text-white text-decoration-none overflow-hidden position-relative" href="/<%= user %>/manga/<%= manga[i].id %>">
                        <div class="movie-item">
                            <div class="movie-label z-2 ms-2 mt-2 position-absolute">
                                <span class="movie-label-item bg-black px-2"><%= manga[i].episode.length %> ตอน</span>
                            </div>
                            <img class="d-block card-img z-1" width="190" height="280" alt="Ooyukiumi no Kaina" data-ll-status="loaded" src="<%= manga[i].thumbnail %>">
                            <div class="movie-content z-2 text-center position-absolute bottom-0 pt-4 w-100 px-2 pb-2"><%= manga[i].title %></div>
                        </div>
                    </a>
                    <% if ( admin ) { %><a class="btn btn-primary text-white top-0 end-0 me-3 mt-2 position-absolute" href="/<%= user %>/edit/<%= manga[i].id %>">edit</a><% } %>
                </div>
            <% } %>
        <% } else { %>
            <h4 class="col-12 text-center">No result.</h4>
        <% } %>
            
        </div>
    </div>
    <% if ( admin ) { %>
        <a href="/<%= user %>/new" class="btn btn-primary position-fixed bottom-0 end-0 me-3 mb-3">new manga</a>
    <% } %>

<style>
body {
    font-family: 'Mali', sans-serif;
}
.movie-content {
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,.5), #000);
}
.card img {
    transition: transform 250ms;
}
.card:hover img {
    transform: scale(1.1);
}
.movie-label span {
    border-radius: 6px;
}
</style>
<script>

function searchEngine( id ) {
    const value = document.getElementById(id).value;
    value && ( window.location.href = "/search/" + value );
}

</script>
</body>
</html>